<div class="main-content">
    <div class="section-content section-content-p30">
        <h1>Category: {{currentCategoryName}}</h1>
        <hr>
        <div class = "content-fluid">
            <div class = "row">
                <!-- loop over the collection of product-->
                <div *ngFor = "let tempProduct of products" class = "col-md-3">
                    <div class = "product-box">
                        <a routerLink = "/product/{{tempProduct.id}}">
                            <img src = "{{tempProduct.imageUrl}}"  clasee = "img-responsive"/>
                        </a>
                        <a routerLink = "/product/{{tempProduct.id}}">
                            <h1>{{tempProduct.name}}</h1>
                        </a>
                        <div class = "price">{{tempProduct.unitPrice | currency:'USD'}}</div>
                        <a class="btn btn-primary" href="#" role="button">Add to Card</a>
                    </div>
                </div>
                
                <!-- If product is empty then display a message -->
                <div *ngIf="noResult" class = "alert alert-danger" role = "alert">
                    <h3>No product with name: <b>{{productName}}</b></h3>
                </div>
            </div>
            
            <!-- begin the pagination -->
            <div class = "footer-pagination">
                <div class = "row">
                    <div class="col-sm-6" >
                        <div  style="padding-left: 40%">
                            <ngb-pagination [(page)]="thePageNumber"
                                            [pageSize]="thePageSize"
                                            [collectionSize]="theTotalElement"
                                            (pageChange)="listProducts()"
                                            [boundaryLinks]="true"
                                            [maxSize]="3">

                            </ngb-pagination>
                        </div>
                    </div>
                    <div class="col-sm-6" >
                        <div  style = "text-align: left;">
                            <label class = "mr-2"> {{currentCategoryName}} by page &nbsp;&nbsp;</label>
                            <select #myPageSizeInput (change) = "updatePageSize(myPageSizeInput.value)">
                                <option *ngFor = "let tempSummary of Summaries"> {{tempSummary}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>