<div class="main-content">
    <div class="section-content section-content-p30">
        <h1>Category: {{currentCategoryName}}</h1>
        <hr>
        <div class = "content-fluid">
            <div class = "row">
                <!-- loop over the collection of product-->
                <div *ngFor = "let tempProduct of products" class = "col-md-3">
                    <div class = "product-box">
                        <a routerLink = "/product/{{tempProduct.id}}">
                            <img src = "{{tempProduct.imageUrl}}"  clasee = "img-responsive"/>
                        </a>
                        <a routerLink = "/product/{{tempProduct.id}}">
                            <h1>{{tempProduct.name}}</h1>
                        </a>
                        <div class = "price">{{tempProduct.unitPrice | currency:'USD'}}</div>
                        <a class="btn btn-primary" href="#" role="button">Add to Card</a>
                    </div>
                </div>
                
                <div *ngIf="noResult" class = "alert alert-danger" role = "alert">
                    <h3>No product with name: <b>{{productName}}</b></h3>
                </div>
            </div>
        </div>
    </div>
</div>